.git
.github
.vscode

__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env
.generated/
.env
.env.*

*.pyc
*.pyo
*.pyd
.DS_Store

test-face.jpg
tests
docker-compose.dev.yml
Dockerfile.dev

models/
